@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.table thead th{
    font-size: 14px;
    color: #fff;
}
.table tbody td{
    font-size: 14px;
}
button{
    padding: 5px 20px !important;
}
.cursor-pointer{
    cursor: pointer;
}
input{
    border: 1px solid rgb(135, 134, 134) !important;
}
.top{
    top: 47px;
}
.dropdown-toggle{
    background: rgb(215, 214, 214) !important;
    width: 7em;
}
.submit-btn{
    display: none;
}
.visible-btn{
    display: visible;
}